<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gestion_ecoles.Properties.Settings.schooldbConnectionString"
            connectionString="server=localhost;User Id=root;database=schooldb"
            providerName="MySql.Data.MySqlClient" />
        <add name="gestion_ecoles.Properties.Settings.schooldbConnectionString1"
            connectionString="Driver={MySQL ODBC 5.3 Unicode Driver};server=localhost;uid=root;pwd=hervainliko98;database=schooldb;port=3306"
            providerName="System.Data.Odbc" />
        <add name="gestion_ecoles.Properties.Settings.ConnectionString"
            connectionString="Dsn=schooldb;uid=root;pwd=hervainliko98"
            providerName="System.Data.Odbc" />
        <add name="gestion_ecoles.Properties.Settings.ConnectionString1"
            connectionString="Dsn=dbschool;uid=root" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
